.centrar {
    padding-top: 11%;
  }
  
  .body_login {
    background-color: #21232A;
  }
  
  .special-card {
    background-color: rgba(245, 245, 245, 1);
    opacity: 0.4;
  }
  
  .botonnew {
    border-radius: 10px;
    border-color: #fff;
    background-color: #0066cc;
    font-size: 18px;
  }
  
  .inputnew {
    border-radius: 10px;
    border-color: #ffff;
    background-color: #ffffff14;
    font-size: 18px;
    padding: 0 10px 0 33px;
    color: #ffffff;
  }
  
  .inputnew::-webkit-input-placeholder {
    color: #ffffff;
  }
  
  .inputnew:-moz-placeholder {
    color: #ffffff;
  }
  
  .bg-sidebar {
    /* background: url(/static/master/img/fondos/new/Menu_background.png); */
    background-color: #21232A;
  }
  
  #loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 100;
  } 

  .sidebar-brand-icon span {
    color: yellow;
  }

  .sidebar-brand-icon h2 {
    font-weight: bold;
  }

  .logo-login {
    text-decoration: none;
    color: white;
    font-size: 100px;
    font-weight: bold;
  }

  .logo-login span {
    text-decoration: none;
    color: yellow;
  }

  .logo-login:hover {
    color: white;
  }