    {% extends 'registration/base_login.html' %}
    {% load static %}

    {% block title %}SGG | Login{% endblock title %}

    {% block contenido %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-light alert-dismissible" role="alert">{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST" class="mt-5 p-3 rounded-3 text-white">
        {% csrf_token %}
        {{form}}
        <div class="d-grid gap-2 col-12 mx-auto">
            <button type="submit" class="btn btn-primary mt-3 text-light border botonnew">INGRESAR</button>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'password_reset' %}" style="color:#fff;" class="fw-bold">Olvidaste tu
                contraseña?</a>
        </div>
    </form>
    {% endblock contenido %}

    {% block javascript %}
    <script type="text/javascript">
    </script>
    {% endblock javascript %}