    {% extends 'registration/base_login.html' %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% block title %}Corus | Reset Password{% endblock title %}

    {% block contenido %}
    <form method="POST" class="mb-3 p-3 rounded-3 text-white">
        <h2 class="text-center">Has olvidado tu contraseña?</h2>
        <p class="text-center">Ingresa el correo con el que te registraste y te
            enviaremos las instrucciones para
            reestablecer tu contraseña.
            </br>
            <strong class="text-center">*Esta función solo está disponible para administradores y supervisores, NO para
                agentes.</strong>
        </p>
        <!-- message strong with information -->

        {% csrf_token %}
        {{form|crispy}}
        <div class="d-grid gap-2 col-12 mx-auto">
            <button type="submit" class="btn btn-primary mt-3 text-light border botonnew">ENVIAR</button>
        </div>
    </form>
    {% endblock contenido %}