    {% extends 'registration/base_login.html' %}
    {% load static %}

    {% block title %}Corus | Reset Password{% endblock title %}

    {% block contenido %}
    <div class="text-white">
            <h1>Cambio de contraseña completado</h1>
            <p>Se ha realizado el cambio de
                    contraseña correctamente. Puedes
                    ingresar en la siguiente URL:
                    {% comment %} <a href="{% url 'usuarios:login' %}">Login</a> {% endcomment %}
            </p>
    </div>
    {% endblock contenido %}