{% load i18n %}{% autoescape off %}
Está recibiendo este correo electrónico porque solicitó un restablecimiento de contraseña para su cuenta de usuario en
{{ site_name }}.

Vaya a la siguiente página y elija una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Su nombre de usuario, en caso de que lo haya olvidado: {{ user.get_username }}

¡Gracias por usar nuestro sitio!

El equipo de Telectronic

{% endautoescape %}