{% extends user.is_authenticated|yesno:"base.html,registration/base_login.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

{% if user.is_authenticated %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <button onclick="history.back()" class="align-self-center ms-2 mb-1 btn btn-primary text-light border"><i
            class="far fa-arrow-alt-circle-left"></i> Atrás</button>
</div>
<div class="col-8 p-3 mx-auto border border-primary">
    <form enctype="multipart/form-data" class="text-dark" method="POST" class="rounded-3 text-white">
        {% else %}
        <form enctype="multipart/form-data" method="POST" class="rounded-3 text-white">
            {% endif %}
            <h2 class="text-center">{{legend}}</h2>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">{{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="form-row row-fluid">
                <div class="form-group col-md-4 mb-0">
                    <label for="cliente">Cliente *</label>
                    <select name="cliente" id="cliente" class="form-control" required>
                        <option value="0" selected>--- Seleccione un cliente ---</option>
                        {% for cliente in clientes %}
                        <option value="{{cliente.id}}">{{cliente.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4 mb-0">
                    <label for="sitio">Sitio *</label>
                    <input type="text" class="form-control" id="sitios_cliente" name="sitio" placeholder="Sitio"
                        required>
                </div>
                <div class="form-group col-md-4 mb-0">
                    <label for="encargado">Encargado cliente</label>
                    <input type="text" name="encargado" id="encargado" class="form-control"
                        placeholder="Nombre del encargado">
                </div>
            </div>
            <div class="form-row row-fluid mt-2">
                <div class="form-group col-md-6 mb-0">
                    <label for="usuario">Usuario *</label>
                    <select name="usuario" id="usuario" class="form-control" required>
                        <option value="" disabled selected>--- Seleccione un usuario ---</option>
                        {% for usuario in usuarios %}
                        <option value="{{usuario.id}}">{{usuario.first_name}} {{usuario.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6 mb-0">
                    <label for="estado">Estado *</label>
                    <select name="estado" id="estado" class="form-control" required>
                        <option value="" disabled selected>--- Seleccione un estado ---</option>
                        {% for estado in estados %}
                        <option value="{{estado.id}}">{{estado.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row row-fluid mt-2">
                <div class="form-group col-md-12 mb-0">
                    <label for="descripcion">Descripción *</label>
                    <textarea name="descripcion" id="descripcion" class="form-control" rows="3" required></textarea>
                </div>
            </div>
            <div class="form-row row-fluid mt-2">
                <div class="form-group col-md-6 mb-0">
                    <label for="km_ini">Kilometraje Inicial</label>
                    <input type="number" name="km_ini" id="km_ini" class="form-control"
                        placeholder="Kilometraje Inicial">
                </div>
                <div class="form-group col-md-6 mb-0">
                    <label for="km_fin">Kilometraje Final</label>
                    <input type="number" name="km_fin" id="km_fin" class="form-control"
                        placeholder="Kilometraje Inicial">
                </div>
            </div>
            <div class="form-row row-fluid mt-2">

                <div class="form-group col-md-6 mb-0">
                    <label for="img_km_ini">Imagen Kilometraje Inicial</label>
                    <input type="file" name="img_km_ini" id="img_km_ini" class="form-control"
                        placeholder="Kilometraje Inicial">
                </div>
                {% if img_km_ini %}
                <div class="form-group col-md-3 mb-0">
                    <label for="img_km_ini">Descargar Imagen</label>
                    <a href="/media/{{user.empresa.nombre}}/rendiciones/{{img_km_ini}}"
                        class="btn btn-secondary btn-block" download> <i class="fa fa-download"></i>
                        Descargar</a>
                </div>
                {% endif %}
                <div class="form-group col-md-6 mb-0">
                    <label for="img_km_fin">Imagen Kilometraje Final</label>
                    <input type="file" name="img_km_fin" id="img_km_fin" class="form-control"
                        placeholder="Kilometraje Inicial">
                </div>
                {% if img_km_fin %}
                <div class="form-group col-md-3 mb-0">
                    <label for="img_km_ini">Descargar Imagen</label>
                    <a href="/media/{{user.empresa.nombre}}/rendiciones/{{img_km_fin}}"
                        class="btn btn-secondary btn-block" download> <i class="fa fa-download"></i>
                        Descargar</a>
                </div>
                {% endif %}
            </div>
            <div class="form-row row-fluid mt-2">

            </div>
            <div class="form-row row-fluid mt-2">
                <div class="form-group col-md-12 mb-0">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </div>
        </form>

</div>

{% endblock contenido %}
{% block javascript %}
<script>
    //ajax para cargar los sitios
    $(document).ready(function () {
        /*
        $('#cliente').change(function () {
            var cliente = $(this).val();
            $.ajax({
                url: '/rendiciones/obtiene_sitios/' + cliente,
                type: 'GET',
                success: function (data) {
                    $('#sitio').empty();
                    $('#sitio').append(
                        '<option value="" disabled selected>--- Seleccione un Sitio ---</option>'
                    );
                    $.each(data.sitios, function (index, value) {
                        $('#sitio').append(
                            '<option value="' + value.id + '">' + value.nombre +
                            '</option>'
                        );
                    });
                }
            });
        });
        */
        data = "{{data}}";
        //remove "&quote"
        data = data.replace(/&quot;/g, '"');
        //convert to JSON
        data = JSON.parse(data);
        //use data to fill select
        $("#cliente").val(data.cliente);
        $("#sitios_cliente").val(data.sitios_cliente);
        $("#encargado").val(data.encargado);
        $("#usuario").val(data.usuario);
        $("#estado").val(data.estado);
        $("#descripcion").val(data.descripcion);
        $("#km_ini").val(data.km_ini);
        $("#km_fin").val(data.km_fin);
    });
</script>
{% endblock javascript%}