{% extends 'base.html' %}
{% load static %}
{% block contenido%}
<!-- Page Heading -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4" id="llamadas_ingresadas">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary mb-1">CANTIDAD USUARIOS</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{usuarios}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users-cog fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" id="llamadas_contestadas">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary mb-1">CANTIDAD </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{anexos}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-phone fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" id="llamadas_abandonadas">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary  mb-1">CANTIDAD </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{agentes}}
                        </div>
                    </div>
                    <div class="col-auto">

                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" id="llamadas_outbound">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary  mb-1">CANTIDAD
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{colas}}

                        </div>
                    </div>
                    <div class="col-auto">

                        <i class="far fa-bookmark fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Memoria RAM</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id='chartmemoriaram' style="width: 100%; height: 180px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">HDD</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="charthdd" style="width: 100%; height: 180px;"></div>
            </div>
        </div>
    </div>

</div>
{% endblock contenido %}
{% block javascript %}

<script>
    var data = [{
            valor: "{{ramUsage}}",
            nombre: "Usado"
        },
        {
            valor: "{{ramAvailable}}",
            nombre: "Restante"
        }
    ];

    $(document).ready(function () {

        var dataAdapter = new $.jqx.dataAdapter(data, {
            async: false,
            autoBind: true,
            loadError: function (xhr, status, error) {
                alert('Error loading "' + source.url + '" : ' + error);
            }
        });
        $.jqx._jqxChart.prototype.colorSchemes.push({
            name: 'myScheme',
            colors: ['#FF5733', '#2980B9']
        });
        // prepare jqxChart settings
        var settings = {
            title: "",
            description: "",
            enableAnimations: true,
            showLegend: true,
            showBorderLine: true,
            legendLayout: {
                left: 050,
                top: 100,
                width: 100,
                height: 80,
                flow: 'vertical'
            },
            padding: {
                left: 0,
                top: 0,
                right: 0,
                bottom: 0
            },
            titlePadding: {
                left: 0,
                top: 0,
                right: 0,
                bottom: 0
            },
            source: dataAdapter,
            colorScheme: 'myScheme',
            seriesGroups: [{
                type: 'pie',
                showLabels: true,
                series: [{
                    dataField: 'valor',
                    displayText: 'nombre',
                    labelRadius: 100,
                    initialAngle: 10,
                    radius: 80,
                    centerOffset: 0,
                    formatFunction: function (value) {
                        if (isNaN(value))
                            return value;
                        return parseInt(value) + '%';
                    },
                }]
            }]
        };
        // setup the chart
        $('#chartmemoriaram').jqxChart(settings);
    });




    var data2 = [{
            valor: "{{hddUsage}}",
            nombre: "Usado"
        },
        {
            valor: "{{hddAvailable}}",
            nombre: "Restante"
        }

    ];
    $(document).ready(function () {

        var dataAdapter = new $.jqx.dataAdapter(data2, {
            async: false,
            autoBind: true,
            loadError: function (xhr, status, error) {
                alert('Error loading "' + source.url + '" : ' + error);
            }
        });
        $.jqx._jqxChart.prototype.colorSchemes.push({
            name: 'myScheme2',
            colors: ['#FF5733', '#2980B9']
        });
        // prepare jqxChart settings
        var settings2 = {
            title: "",
            description: "",
            enableAnimations: true,
            showLegend: true,
            showBorderLine: true,
            legendLayout: {
                left: 050,
                top: 100,
                width: 100,
                height: 80,
                flow: 'vertical'
            },
            padding: {
                left: 0,
                top: 0,
                right: 0,
                bottom: 0
            },
            titlePadding: {
                left: 0,
                top: 0,
                right: 0,
                bottom: 0
            },
            source: dataAdapter,
            colorScheme: 'myScheme2',
            seriesGroups: [{
                type: 'pie',
                showLabels: true,
                series: [{
                    dataField: 'valor',
                    displayText: 'nombre',
                    labelRadius: 100,
                    initialAngle: 10,
                    radius: 80,
                    centerOffset: 0,
                    formatFunction: function (value) {
                        if (isNaN(value))
                            return value;
                        return parseFloat(value) + 'G';
                    },
                }]
            }]
        };
        // setup the chart
        $('#charthdd').jqxChart(settings2);
    });


    $(document).ready(function () {

        var data = [];
        var max = 100;
        var timestamp = new Date();
        for (var i = 0; i < 60; i++) {
            timestamp.setMilliseconds(0);
            timestamp.setSeconds(timestamp.getSeconds() - 1);
            data.push({
                timestamp: new Date(timestamp.valueOf()),
                value: Math.max(100, (Math.random() * 1000) % max)
            });
        }
        data = data.reverse();
    });
</script>

{% endblock javascript %}