{% extends 'base.html' %}
{% load static %}
{% block contenido%}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'master:index' %}" class="align-self-center ms-2 mb-1 btn btn-primary text-light border"><i
            class="far fa-arrow-alt-circle-left"></i> Volver al
        menú</a>
    <div>
        {% if object_list.count >= 1 %}
        {% else %}
        <a href="{% url 'clientes:crear' %}" class="btn btn-success text-light border border-custom me-2"><i
                class="fas fa-plus-circle"></i> Agregar Cliente</a>
        {% endif %}
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="table-responsive mt-3">
    <table id="tabla_base" class="table table-striped table-hover table-borderless" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in object_list %}
            <tr>
                <td style="vertical-align: middle;">{{cliente.nombre}}</td>
                <td style="vertical-align: middle;">{{cliente.direccion}}</td>
                <td style="vertical-align: middle;">{{cliente.telefono}}</td>
                <td style="vertical-align: middle;">{{cliente.email}}</td>
                <td style="vertical-align: middle;">
                    <a class="btn btn-primary btn-sm text-light border border-dark m-1"
                        href="{% url 'clientes:editar' pk=cliente.id %}" id="edit"><i class="fas fa-edit"></i></a>
                    <a class="open-modal btn btn-danger btn-sm text-light border border-dark m-1" data-bs-toggle="modal"
                        data-bs-target="#modal" data-popup-url="{% url 'clientes:predestroy' pk=cliente.id %}"
                        href=""><i class="fas fa-trash"></i> </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="modal" tabindex="-1" notempty='not' aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" notempty='not'>
        <div class="modal-content" notempty='not'>
            <div class="modal-header" notempty='not'>
                <h5 class="modal-title " id="modalLabel" notempty='not'>¿Desea Eliminar el siguiente cliente?:
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" notempty='not'>
            </div>
            <div class="modal-footer" notempty='not'>
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="delete" type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $(".dataTable").on('click', '.open-modal', function () {
            $.ajax({
                type: "GET",
                url: $(this).attr("data-popup-url"),
                dataType: "json",
                success: function (data) {
                    Datos =
                        "<p notempty='not'> Nombre: " + data['nombre'] +
                        "</p><p notempty='not'> Dirección: " + data['direccion'] +
                        "</p><p notempty='not' class='text-danger'> <strong>Si elimina este cliente se eliminaran todos los sitios asociados.</strong>" +
                        "</p>";
                    $(".modal-body").append(Datos);
                    $("#delete").click(function () {
                        window.location.href = "/clientes/destroy/" +
                            data["id"];
                    })
                }
            });
        });
        $("#close").on("click", function () {
            $(".modal-body").empty();
        })

        $('body').click(function (e) {
            if ($(e.target).attr('notempty') != "not")
                $(".modal-body").empty();
        });
    });
</script>
{% endblock javascript %}